/*
Theme Name: ramm mx 2020
Theme URI: https://github.com/palemona
Description: version 2020 ramm mx
Author: palemona
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

p {
padding-bottom: 10px;}

/*GENERAL*/

html {
scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
	font-size: 100%;
	background-color: #333333;
	background-image: url('https://gitlab.com/palewebs/ramm_mx/-/raw/master/rammbg.png');
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
	background-size: 100vw;
	background-repeat: no-repeat;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #f1f2f3 !important;
	text-align: justify;
	
}

#myVideo {
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    width: 70%;
  }

  .video_contain {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

@media only screen and ( max-width: 62.5em ) /* 640 */
{
	body {
    overflow-y: auto;
    overflow-x: hidden;
	background-attachment: fixed;
	background-size: contain;
	background-position:top;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 2.5rem !important;
	text-align: justify;
	
}

#myVideo {
    position: absolute;
    top: 100px !important;
    bottom: 0;
    right: 0;
    left: 0;
    margin: inherit;
    min-height: auto;
    width: 100%;
}

.video_contain {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.socialmedia > a {
	font-size: 3em;
	margin-right: 0.5em;
	padding: 5px;
}


	
}


::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    
    background: #777777; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

::-webkit-scrollbar-track-piece {
	background-color:#fff;
}





@font-face {
    font-family: 'Mexico';
    src: url('321impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Bebas';
    src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Symtext';
    src: url('Symtext.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


#box {
	z-index: 24;
	position: absolute;
	margin-right: 20px;
}

* {margin: 0;
padding: 0;

}

img, ul, li {
	margin: 0;
padding: 0;
}

.subtitle {
	font-size: 20px;
	/*font-family: Symtext;*/
	font-family: "Pixelated MS Sans Serif", Arial;
	color: #333333;
	letter-spacing: 2px;
}
.blocks-gallery-item__caption {
	font-family: "Pixelated MS Sans Serif", Arial !important;
	background-color: black !important;
}
.pixel {
	font-family: "Pixelated MS Sans Serif", Arial;
}

.titulos {
	font-family: "Pixelated MS Sans Serif", Arial;
	font-size: 2em;
	color: #000;
	letter-spacing: 6px;
	text-align: center;
	cursor: default;
	text-transform: uppercase;
}

canvas {
  box-sizing: border-box;
  padding: 0 40px 0 0;
  margin: 20px auto 0;
  text-align: center;
  max-width: 100%;
}

#bienvenida, #slide, #aside, #column {
	
	background-repeat: no-repeat;
	background-size:100% 100%;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
		  padding: 3.66vw;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;

}




/*LINKS*/

a {
text-decoration: none;
font-family: 'Cinzel', serif;

text-align: left;
}

.card a {
	color: #777777 !important;
}

.card a:hover {
	color: #777777 !important;
}

a:hover {
	text-decoration: none !important;
	
	
	
}

.insta  {
	color: #777777 !important;
}

.twit {
	color: #777777 !important;
}

.face {
	color: #777777 !important;
}

.face:hover, .insta:hover, .twit:hover {
	opacity: 0.8;
}
	
h3 {
	font-family: 'Cinzel', serif;
}

.sideright {
	padding-left: 3.66vw !important;
}
/*NAVEGACION*/


#nav {
width: 100%;
position: fixed;
background-color: #fff;
top: 0;
z-index: 90;
margin: 0 auto;



}

#media {
	float: right;
	margin-right: 10px;
}
.socialmedia > a {
	font-size: 1.5em;
	margin-right: 0.5em;
	padding: 5px;
}

#containernav {
width: 100%;
background-color: #fff;
height: 40px;
margin: 0 auto;
}

#nav > a
    {
        display: none;
    }
    #nav li
    {
        
		list-style-type: none;
		width: 170px;
		/*background-color: rgba(0, 0, 0, 0.96);*/
		/*border: 1px solid #232323;*/
		
		-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

		  
    }
	
	#nav > ul li a {
	color: #777777 !important;
	font-family: 'Cinzel', serif !important;
	width: 100%;
	letter-spacing: 2px;
	display: block;
	padding: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	text-align: center;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
		  

	
	
	}
	

	
	#nav li a:hover {
		

	
	
	}
 
    /* first level */
 
    #nav > ul
    {
       
		
	position: relative;
		
    }
        #nav > ul > li
        {
            width: 15%;
            height: 100%;
            float: left;
			vertical-align: text-top;

			
        }
 
    /* second level */
 
    #nav li ul
    {
		
        display: none;
        
        top: 100%;
		font-size: 15px;
		
	height: auto;
	line-height: 20px;
	padding-bottom:10px;
	

	
    }

    #nav li ul li {
		
		 transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
		padding: 10px 0px 10px 10px;
		
    }
	
        #nav li:hover ul
        {
			display: flex;
			left: 0;
			top: 2em;
			position: absolute;
			
			width: 100vw;
			background-color: #fff;
			
        }
#nav li ul li a{

font-size: 16px;
text-align: left;


}

.navimg {
	width: 150px;
	height: 150px;
	opacity: 0.9;
	object-fit: cover;
	filter: grayscale(100%);
	transition: all 0.5s;

}

.navimg:hover {
	filter: grayscale(0%);
}

.captionnav {
	position: absolute;
	font-family: 'Cinzel', serif;
	font-size: 1.5em;
	color: #fff;
	top: 50%;
	letter-spacing: 0px !important;
	text-shadow: 3px 3px 5px #000;
  left: 50%;
  line-height: 1em;
  word-wrap: break-word;
  transform: translate(-50%, -50%);
  
}

.card-deck .card {
	flex: 1 0 30% !important;
	margin-bottom: 15px !important;
}

.card-deck .captionnav {
	font-size: 4em;
}

.card-title {
	font-family: 'Cinzel', serif;
}

.card {
	border: none !important;
}

@media only screen and ( max-width: 62.5em ) /* 640 */
{
	
	.card-columns {
		display: flex !important;
		flex-wrap: wrap !important;
	}
	.card-img-top {
		height: 35rem !important;
	}
	.card h5 {
		font-size: 1.5em !important;
		text-align: center !important;
	}
	.card .h4, h4 {
    font-size: 2.5rem !important;
}
	.card-deck .card {
	flex: 1 0 90% !important;
}
    #nav {
        width: 100%;
		position: fixed;
		background-color: #fff;
		top: 0;
		z-index: 90;
		margin: 0 auto;
			}
        
        #nav:not( :target ) > a:first-of-type,
        #nav:target > a:last-of-type
        {
            display: block;
        }
 #media {
	
	float: right;
	margin-right: 10px;
	top: 100%;
	margin-top: 10px;
	z-index: 100;
}

#media img{
	transform:scale(2,2);
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
}
    /* first level */
 
    #nav > ul
    {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
		right: 0;
		background-color: #fff;

		
		
    }
        #nav:target > ul
        {
            display: block;
        }
        #nav > ul > li
        {
			
            width: 100%;
            float: none;
			
        }
 
    /* second level */
 	#nav li ul li{
		width: 100%;

		
	}
	#nav li a{
		
		font-size: 50px;
		padding-left: 10px;
	}

    #nav li ul
    {
        position: static;
		margin: 0 auto;
		width: 600px;
		display: none !important; 
		
		
    }
	
	#nav > a
				{
					width: 3em; /* 50 */
					height: 7rem; /* 50 */
					text-align: left;					
					text-indent: -9999px;
					border-right: 1px solid #232323;
					position: relative;
				}	
	#nav > a:before,
					#nav > a:after
					{
						position: absolute;
						
						border: 2px solid #777777;
						top: 35%;
						left: 25%;
						right: 25%;
						content: '';
					}
					#nav > a:after
					{
						top: 60%;
					}

				#nav:not( :target ) > a:first-of-type,
				#nav:target > a:last-of-type
				{
					display: block;
				}

}

/*HEADER*/

#header {
width: 100vw;
height: 100vh;	
}

.logo {
	width: 10vw;
}



#head{
	padding-top: 100px;
	font-family: Symtext;
	text-align:center;
	font-size: 8em;
	/*
	animation: mexico 10s infinite;
	-webkit-animation: mexico 10s infinite ;
	animation-timing-function:cubic-beizer(.57,.14,.08,.69);
	-webkit-animation-timing-function:cubic-beizer(.57,.14,.08,.69);
	cursor: default;*/
	
}


.soad {
	position: relative; 
	width: 40vw;
	z-index: 23;
}


/*Manchas*/

.m {
	position: absolute;
	z-index: 10;
	
}

.m3 {
	position: absolute;
	margin-top: 30px;
	z-index: 20;
	opacity: 0.5;
}


.m5 {
	position: absolute;
	margin-top: 30px;
	margin-left: -130px;
	z-index: -1;
	opacity:0.6;
filter:alpha(opacity=60); /* For IE8 and earlier */
}

.m4 {
	position: absolute;
	right: 0;
	margin-top: -30px;
	opacity:0.6;
filter:alpha(opacity=60); /* For IE8 and earlier */
	
}


/*Animacion*/


.static {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
 
  z-index: 500;
  user-select: none;
  user-drag: none;
}

.error {
  text-align: center;
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 95px;
  font-style: italic;
  text-align: center;
  color: #000;
  padding-top: 50px;
  margin: auto;
  position: relative;
  top: 0;
  bottom: 0;
  margin-top: 200px;
  left: 0;
  right: 0;
  z-index: 10 !important;
}

.error:after {
  content: 'MEXICO';
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 100px;
  font-style: italic;
   padding-top: 45px;
  z-index: -1;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: blue;
  animation: noise-1 .2s linear infinite;
}

.info {
  text-align: center;
  margin: 3.66vw auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: none !important; 
  font-family: 'Cinzel';
	font-size: 5em;
	color: #9da0a5;
}


.error:before {
	
  content: 'MEXICO';
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  margin: auto;
  
  position: absolute;
  padding-top: 45px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: red;
  animation: noise-2 .2s linear infinite;
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}  
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(1);}
  43% {opacity: 1; transform: scaleX(5) rotate(30deg);}
}

@keyframes mexico {
	0% { opacity: 0.0; color: #000;}
	25% {opacity: 0.2; color: #000;  transform: rotate(0deg);}
	30% {opacity: 1.0; color: #0C0;  transform: rotate(0deg);}
	35% {opacity: 1.0; color: #0C0; transform: rotate(0deg);}
	40% {opacity: 1.0; color: #0C0;  transform: rotate(0deg);}
	41% {opacity: 1.0; color: #0C0;  transform: rotate(1deg);}
	42% {opacity: 1.0; color: #0C0;  transform: rotate(-1deg);}
	43% {opacity: 1.0; color: #000;  transform: rotate(1deg);}
	44% {opacity: 1.0; color: #0C0;  transform: rotate(-1deg);}
	45% {opacity: 1.0; color: #000; transform: rotate(1deg);}
	50% {opacity: 1.0; color: #0C0; transform: rotate(-1deg);}
	51% {opacity: 1.0; color: #0C0;  transform: rotate(1deg);}
	52% {opacity: 1.0; color: #0C0;  transform: rotate(-1deg);}
	53% {opacity: 1.0; color: #000;  transform: rotate(1deg);}
	54% {opacity: 1.0; color: #0C0;  transform: rotate(-1deg);}
	55% {opacity: 1.0; color: #0C0; transform: rotate(-1deg);}
	60% {opacity: 1.0; color:#0C0; transform: rotate(0deg);}
	65% {opacity: 1.0; color: #0C0; transform: rotate(0deg);}
	75% {opacity: 0.2; color: #000;  transform: rotate(0deg);}
	100% { opacity: 0.0; color: #000; transform: rotate(0deg);}
}

@-webkit-keyframes mexico {
	0% { opacity: 0.0; color: #000;}
	25% {opacity: 0.2; color: #000; -webkit-transform: rotate(0deg);}
	30% {opacity: 1.0; color: #0C0; -webkit-transform: rotate(0deg);}
	35% {opacity: 1.0; color: #0C0;-webkit-transform: rotate(0deg);}
	40% {opacity: 1.0; color:#0C0; -webkit-transform: rotate(0deg);}
	41% {opacity: 1.0; color: #0C0; -webkit-transform: rotate(1deg);}
	42% {opacity: 1.0; color: #0C0; -webkit-transform: rotate(-1deg);}
	43% {opacity: 1.0; color: #000; -webkit-transform: rotate(1deg);}
	44% {opacity: 1.0; color: #0C0; -webkit-transform: rotate(-1deg);}
	45% {opacity: 1.0; color: #000;-webkit-transform: rotate(1deg);}
	50% {opacity: 1.0; color: #0C0;-webkit-transform: rotate(-1deg);}
	51% {opacity: 1.0; color: #0C0; -webkit-transform: rotate(1deg);}
	52% {opacity: 1.0; color: #0C0; -webkit-transform: rotate(-1deg);}
	53% {opacity: 1.0; color: #000; -webkit-transform: rotate(1deg);}
	54% {opacity: 1.0; color: #0C0; -webkit-transform: rotate(-1deg);}
	55% {opacity: 1.0; color: #0C0;-webkit-transform: rotate(-1deg);}
	60% {opacity: 1.0; color: #0C0;-webkit-transform: rotate(0deg);}
	65% {opacity: 1.0; color: #0C0;-webkit-transform: rotate(0deg);}
	75% {opacity: 0.2; color: #000; -webkit-transform: rotate(0deg);}
	100% { opacity: 0.0; color: #000;-webkit-transform: rotate(0deg);}
}
#mexico {
		animation: mexico 10s infinite;
	-webkit-animation: mexico 10s infinite ;
	animation-timing-function:cubic-beizer(.57,.14,.08,.69);
	-webkit-animation-timing-function:cubic-beizer(.57,.14,.08,.69);
	position: relative;
	margin-left: 900px;
	font-size: 120px;
	font-family: Adler;
	color: #F00;
	top: -30px;
	z-index: 24;
	cursor: default;
}

/*Animación Hover Images*/
@-webkit-keyframes spaceboots {
	0% { -webkit-transform:  rotate(0deg); }
	10% { -webkit-transform:  rotate(-1deg); }
	20% { -webkit-transform:  rotate(1deg); }
	30% { -webkit-transform:  rotate(0deg); }
	40% { -webkit-transform: rotate(1deg); }
	50% { -webkit-transform:  rotate(-1deg); }
	60% { -webkit-transform: rotate(0deg); }
	70% { -webkit-transform: rotate(-1deg); }
	80% { -webkit-transform:  rotate(1deg); }
	90% { -webkit-transform:  rotate(0deg); }
	100% { -webkit-transform: rotate(-1deg); }
}


@keyframes spaceboots {
	0% {  transform:  rotate(0deg); }
	10% {  transform:  rotate(-1deg); }
	20% {  transform:  rotate(1deg); }
	30% {  transform:  rotate(0deg); }
	40% {  transform: rotate(1deg); }
	50% {  transform:  rotate(-1deg); }
	60% {  transform: rotate(0deg); }
	70% {  transform: rotate(-1deg); }
	80% {  transform:  rotate(1deg); }
	90% {  transform:  rotate(0deg); }
	100% {  transform: rotate(-1deg); }
}

.shake:hover,
.shake:focus {
	animation-name: spaceboots;
	 animation-duration: 0.8s;
	 transform-origin:50% 50%;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.shake {
	display:inline-block
}

@-webkit-keyframes G360 {
	0% { -webkit-transform:  rotate(0deg); }
	100% { -webkit-transform:  rotate(360deg); }
}

.G360 {
	margin: 0;
}
.G360:hover {
	-webkit-animation-name: G360;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

/*Transition Face & Twitter*/
.G3602 {
	-webkit-transition: all 0.3s ease;
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); 
	transition: all 0.3s ease;
		    filter: grayscale(100%);

}

.G3602:hover {
	-webkit-transform:rotate(360deg);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
	transform:rotate(360deg);
		    filter: grayscale(0%);

}

.GRAY {
 filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); 
	transition: all 0.3s ease;
		    filter: grayscale(100%);
}

.GRAY:hover{
	filter: none;
}

.info_movil {
	visibility: hidden;
}

.soad_movil {
	visibility: hidden;
}


/*MOVIL HEADER*/


@media only screen and ( max-width: 62.5em ) /* 640 */
{
	#header {
width: 100%;
height: 500px;
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100% 100%;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
		  position: relative;
		  top: 0;
}
.soad_movil {
	margin: 100px auto;
	width: 80%;
	visibility: visible;
	z-index: 23;
	
}

#head{
	padding-top: 130px;
	padding-bottom: 100px;
	font-family: Symtext;
	text-align:center;
	
	cursor: default;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	
    
	
}


.error {
  text-align: center;
  font-family: Symtext;
  font-size: 140px !important;
  font-style: italic;
  text-align: center;
  color:#000;
  padding-top: 45px;
  margin: auto;
  width: 80%;
  margin-top: 50px !important;
  position: relative;
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: none;
  overflow: default;
  -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
  
  z-index: 10 !important;
}

.error:after {
  content: 'MEXICO';
  font-family: Symtext;
  font-size: 145px !important;
  font-style: italic;
   padding-top: 45px;
   padding-left: 15px;
  z-index: -1;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: blue;
  -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
		  animation: noise-1 .2s linear infinite;
  
}

.info_movil {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 140px;
  bottom: 0;
  visibility: visible;
  left: 0;
  right: 0;
  animation: none !important; 
}

.info {
	display: none;
}

.soad {
	display: none;
}

.error:before {
	
  content: 'MEXICO';
  font-family: Symtext;
  font-style: italic;
  text-align: center;
  margin: auto;
  font-size: 145px;
  position: absolute;
  padding-top: 45px;
  padding-right: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: red;
  -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
  animation: noise-2 .2s linear infinite;
}
/*
@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: none !important;}  
  4.3% {opacity: 1; transform: none !important;}
  43% {opacity: 1; transform: none !important;}
}
*/
@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; }
  80% {opacity: .3;}
  100% {opacity: .6; }
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; }
  80% {opacity: .3;}
  100% {opacity: .6; }
}


}


/*CONTENIDO*/

.breads {
	font-family: "Pixelated MS Sans Serif", Arial;
	color: #fff;
	background: linear-gradient( 90deg, #8795E8, #94D0FF ) !important;
}

.breadcrumb {
	background-color: transparent !important;
}

.breads a, .breads a:hover {
	color: #111111;
}

#contenedor {
width: 100vw;
margin: 0 auto;
position:relative;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
		  margin-bottom: 0px;


}

#top {
	width: 100%;
	margin-bottom: 20px;
	height: 300px;
	display: none;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	
}

#top1 {
display: inline-block;
visibility: hidden;
width: 33%;
font-size: 16px;
height: 100%;
vertical-align: top;
padding: 20px;
text-align: left;
background-color: #000;
-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#top1 ul li{
display: inline;
	text-align: left !important;
	list-style-type: none;
	margin-left:20px;
}

@media only screen and ( max-width: 62.5em ) /* 640 */{
#top {
	width: 100%;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
		  height: auto;
		 
	
}
#top1 {
width: 100%;
height: auto;
font-size: 16px;
margin: 20px auto;
padding: 20px;
text-align: left;
-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

}
#stats {
	margin-top: 10px;
	margin-left: 70px;
	height: 35px;
}



#stats img {float: left;
	
}

#stats ul {
	height: 35px;
	
}
#stats ul li{
	display: inline;
	text-align: left;
	font-size: 15px;
	list-style-type: none;
}

#stats a {
	font-family:inherit;
	font-size: inherit;
	color: #ffffff;
}

#stats a:hover {
	font-family:inherit;
	font-size: inherit;
	color: #ffffff;
}


#stats li {
float:right;
margin: 2px 0 0 0;
padding: 0 10px 0 0;
width:125px;
}


#redes {
	float: left;
	margin-top: 15px;
}

#slide {
display: inline-block;
width: 60%;
height: 350px;
vertical-align: top;
margin-right: 20px;
padding-top: 15px;
}

#aside {
display: inline-block;
width: 25%;
vertical-align: top;
padding-top: 40px;
padding-bottom: 40px;
padding-left: 15px;
text-align: justify;
-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
padding: 20px;

}
#column {
width: 100%;
z-index: 21;
background-color: #fff;
}

#column ul li {
list-style-position: inside;
}
#column ul li {
padding-bottom: 10px;
list-style-image: url(eye.png);
}

#info {
	padding: 50px auto;
	text-align: justify;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
		  width: 100%;
}





.afi {
	height: 31px;
	width: 88px;
	display: inline-block;
	margin-left: 3px;
	margin-top: 5px;
	border: none;
}

.afi:hover {
	-webkit-filter: brightness(130%);
	moz-filter: brightness(130%);
}


.banner {
	-webkit-transition: all 300ms; 

	 }
	

.banner:hover {
	-webkit-transform: scale(1.1);

}

.imgcontent {
	border: none;
	
}

.imgcontent:hover {
	-webkit-filter: brightness(130%);
}
/*FOOTER*/


#footer {
width: 100vw;
		-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
		  position: relative;
		  padding-top: 20px;
		  background-color: rgba(255,255,255, 0.7);
		  color: #777777 !important;
		  
		 
}

.subfooter {
	margin-top: 10vh;
	font-size: 20px;
	/*font-family: Symtext;*/
	font-family: "Pixelated MS Sans Serif", Arial;
	color: #fff;
	letter-spacing: 2px;
	
}
#contenidofooter {
	margin: auto;
	display: flex;
	width: 100%;
	justify-content: center;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
		  
		  
		  
		  }

.tabs {
	width:25%;
	display: inline-block;
	vertical-align: top;
	height: auto;
	
	padding: 10px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	
	
}

#disclaimer {

	width: 30%;

	vertical-align: top;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	
	}

#tour {
	display: inline-block;
	width: 40%;
		margin-left: 60px;
		height: 350px;
		-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;		
		
}

#news {
display: inline-block;	
width: 20%;
vertical-align: top;
}

#news ul li {
list-style-type: armenian;
}

#news ul li a {
	
word-spacing: 3px;
font-size: 28px;
line-height: 35px;	
}
	

#logofooter {
	width: 50%;
	text-align: center;
	}
	
#logofooter img {
}
	
#insta{
width: 20%;
}

.after-box {
    clear: left;
	margin-top: 15px;
     
	text-align: center;
}



#tabla {
	overflow-y:scroll;
	height: 280px;
}

td {
	padding-right: 10px;
	padding-top: 5px;
}


#copy {
	margin-top: 30px;
	bottom: 0;
	height: 20px;
	padding-top: 10px;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



#final {
	display: inline-block;
	float: right;
}
#final li {
	display: inline;
	padding: 10px;
}


#stats2 ul li{
	display: inline;
	text-align: left;
	font-size: 15px;
	list-style-type: none;
}

#stats2 li {
float:right;
margin: 2px 0 0 0;
padding: 0 6px 0 0;

}




#logofooter2{
display: none;	
}

#disclaimer2 {
	display: none;
}



#disco{
	width: 50%;
	border: 1px solid #0c0;
	padding: 10px;
	
	display: inline-block;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#disco img {
	width: 100%;
}

#infodisco{
	width: 45%;
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	border: 1px solid #0c0;
	padding: 10px;
	font-size: 16px !important;
}

#canciones td {
border-top: 1px solid #0c0;
font-size: 20px;
font-family: Symtext;
}

#canciones tr:first-child {
border-top: none;
font-size: 20px;
font-family: Symtext;
}

#canciones tr{
	border: none;
}

#canciones table {
	width: 100%;
	margin-top: 20px;

}

#canciones {
	margin: 40px auto;
	width: 70%;
	
}

#spot {
	font-family: Symtext !important;
}

#singles{
	 width: 100%; 
	text-align: center;
	margin: 0 auto;
	
	
}

@media only screen and ( max-width: 62.5em ) /* 640 */{
#singles{
	 width: 70%; 
	text-align: center;
	margin: 0 auto;
	
	
}
	}

#singles img{
	
}

#singles img:hover{
	;
}



div.item {
	
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: fit-content;
	padding: 20px;
	
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

div.item2 {
	
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: fit-content;
	padding: 20px;
	
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.caption {
	font-family: "Pixelated MS Sans Serif", Arial;
    display: block;
	font-size: 1.5rem;
	text-align: center;
	letter-spacing: 2px;
}

div.item img{
	width: 300px;
	height: 300px;
}

div.item2 img{
	width: 200px;
	height: 200px;
}

#historia img {
margin: 10px;
max-width: 400px;
	
}

#historia {
overflow: scroll;
max-height: 1000px;	
}

#historia p {
	margin-bottom: 15px;
	
}


@media only screen and ( max-width: 62.5em ) /* 640 */{

	.caption {

		font-size: 3rem !important;
		
	}
	

	.tabs {
		display:none;
	
}

.tabs > div {
	visibility: hidden;
}


#disclaimer2 {
	display: block;
	width: 100%;
	margin: 20px auto;
	height: auto;
	vertical-align: top;
	
}


#dis {
width: 90%;
height: 100%;
margin: 0 auto;
font-size: 30px;

}

#insta{
	height: 500px;
	top: 0;
display: none;
width: 45%;
background-color: #F3F;

}

#disclaimer {
display: none ;	
}

#news {
display: inline-block;	
width: 45%;
vertical-align: top;
}


#logofooter {
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
	vertical-align: top;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	}
	
.after-box {
display: none;	
}
	
#logofooter img {
width: 100%;	
}

#news ul li a{
list-style-type: armenian;	
text-align: left;
word-spacing: 3px;
font-size: 35px;
line-height: 45px;	

}

#news ul li {
	margin-bottom: 15px;
}




}




@media only screen and ( max-width: 62.5em ) /* 640 */{


#disco {
width: 95%;
margin: 10px;	
border: 1px solid #0c0;
	padding: 10px;
	
	
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
		
}


#disco img {
	width: 100%;
}

#infodisco{
	width: 90%;
	margin: 10px;
	vertical-align: top;
	border: 1px solid #0c0;
	padding: 10px;
	font-size: 16px !important;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


}

#infodisco p {
margin-top: 15px;	
}

/*HOVER EFFECTS*/



#singles .container {
  position: relative;
     vertical-align: top;
    display: inline-block !important;
	flex-wrap: wrap;
    text-align: left;
    width: fit-content;
	padding: 20px;

	
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container img {
  display: block;
  	width: 300px;
	height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  text-align: left;
  background-color: #000000;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container:hover .overlay {
  opacity: 0.8;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



.text {
  color: white;
  font-size: 20px;
  position: absolute;

  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container2 {
  position: relative;
     vertical-align: top;
    display: inline-block;
    text-align: left;
    width: fit-content;
	padding: 20px;

	
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container2 img {
  display: block;
  	width: 300px;

}

.container2:hover .overlay {
  opacity: 0.8;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*noticias*/

.excerptcontent {
font-size: 50px;
}

/*
.post .post {
	background-color:  blue;
	 padding: 10px;
display: inline-block;
width: 500px !important;
-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
vertical-align: top;
height: 100%;
margin-right: 30px;
margin-left: 20px;
text-overflow:ellipsis;

}

.post .post:hover {
border: 1px solid #0C0;
opacity: 0.8;

}
*/
#noticia2 {
    width: 80%;
    font-size: 1.2em;
	margin: 0 auto;
	text-align: justify;
}

#noticia2 img{
	max-width: 1000px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.entry-title {
	font-family: "Pixelated MS Sans Serif", Arial;
	font-size: 2em;
	color: #000;
	letter-spacing: 6px;
	text-align: center;
	cursor: default;
	text-transform: uppercase;
}

.entry-title a, .entry-title a:hover, .entry-title a:visited {
	font-family: "Pixelated MS Sans Serif", Arial;
	font-size: .8em !important;
	color: #000;
	text-align: center;
	letter-spacing: 1px;
	text-transform: none;
}

.entry-meta {
	font-family: "Pixelated MS Sans Serif", Arial;
	font-size: 1em;
	color: #000;
	text-align: right;
	cursor: default;
	text-transform: uppercase;
}

/*
.entry-content { 
	font-style: italic; }
*/


article.noticia img {
/*object-fit:cover;
padding: 10px;
-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
*/
}

.wp-block-image figcaption {
    margin-top: .5em;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 1em;
}

.ecae-button a{
	border: none;
	color: #000 !important;
    background: #c0c0c0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
    border-radius: 0;
    min-width: 75px;
    min-height: 23px;
    padding: 10px 12px;
}

.ecae-button a:hover {
	text-decoration: none !important;
}

.noticia{
padding: 1px; 
width: 45vw;
background: #c0c0c0;
vertical-align: top;
height: 100%;
margin: 1vw;
text-overflow:ellipsis;
box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
}

.ecae-image {
width: 100% !important;
}


@media only screen and ( max-width: 62.5em ) /* 640 */
{
article.noticia img {
height: 400px;
object-fit:cover;
padding: 10px;

}

#noticia2 {
	width: 95%;
    text-align: justify;
    font-size: 1.2em;
    margin: 0 auto;
}

.ecae-image {
width: 100% !important;
}



.ecae-button.ecae-buttonskin-none {
    font-size: 1em !important;
}

.noticia{
 padding: 10px;
display: inline-block;
width: 100%;
font-size: 30px;
-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
vertical-align: top;
height: 100%;
margin-right: 30px;
margin-left: 20px;
text-overflow:ellipsis;
padding-bottom: 30px;

}

.titulo {font-size: 40px;
color: #0C0;
font-family: Bebas;
letter-spacing: 4px;}

.titulo a {
font-size: 40px;
color: #0C0;
font-family: Bebas;
letter-spacing: 4px;
}

#noticia2 img{
	max-width: 800px;
	display: block;
    margin-left: auto;
    margin-right: auto;

}

}


/*Pagination*/
/*TODO cambiar nombres de esto */

/*
.page {
font-size: 22px;
color: #fff;
font-family: Symtext;
letter-spacing: 4px;
width:30px;
height: 30px;
padding: 5px;
display: inline-block;
margin: 10px;
border: 1px solid #0C0;
vertical-align: top;
}

.page a {
font-size: 22px;
color: #fff;
font-family: Symtext;
letter-spacing: 4px;


}


.page a:hover {
font-style: normal;
font-size: 22px;
color: #0C0;
font-family: Symtext;
letter-spacing: 4px;
opacity: 0.6;
}
*/
#pagination{
width: 100%;

}

#center{
width: fit-content;
margin: 0 auto;
}

/*Comentarios*/

.comment {
border: 1px solid #0C0;
opacity: 0.8;
margin-bottom: 15px;
width: 60%;
padding: 12px 20px;
}

.comment a{
	font-size: 15px;
	letter-spacing: 3px;
}

.commentlist li{
	list-style-type: none;
}

.comments-area article header {
    margin: 0 0 48px;
    overflow: hidden;
    position: relative;
    background-color:#55737D;
    color:#FFFFFF;
    padding: 10px;
}

div.comment-author.vcard img{
	display: none;


}

div.comment-meta.commentmetadata {
	border-bottom: 1px solid #0C0;
}

div.comment-meta.commentmetadata a{
	font-size: 10px;}

div.reply {
	text-align: right;
}

.entry-utility{
	margin-top: 50px;
}

#respond input[type=button], input[type=submit], input[type=reset] {
	border: 2px solid #0C0;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    background-color:  #000;
    cursor: pointer;
    color: #fff;
	font-size: 20px;
}
#respond input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	color: #0C0;
}


#respond {
	width: 60%;
}

#respond textarea {
	background-color: #fff;
	width: 100%;
	color: #000;
	font-size: 20px;
	height: 100px;
	border: 1px solid #0C0;
	resize: none;
	padding: 12px 20px;
    margin: 8px 0;
     border-radius: 4px;
    box-sizing: border-box;
}

#respond label {
	text-transform: uppercase;
	text-align: left;
	word-spacing: 2px;
	 width: 30%;
   	float: left;
	

}

#respond input[type=text], select {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
     color: #000;
	font-size: 20px;
   }


#respond a {
	letter-spacing: 3px;
	font-size: 15px;
}

.comment-reply-title {
	color: #0C0;
	font-family: Symtext;
	font-style: normal;
}


@media only screen and ( max-width: 62.5em ) /* 640 */
{
			#respond {
				width: 100%;
			}

			#respond label {
			width: 90%;
			font-size: 30px;
			}

			.subfooter {
				font-size: 2.5rem !important;
			}

			.comment {
			width: 90%;
			}

			.window_movil {
				width: 80vw !important;
			}

			.window_movil {
				width: 80vw !important;
				font-size: 2rem !important;
			}

			.window-body, .window-body label {
				font-size: 2rem !important;
			}

			.modal-dialog {
				max-width: 95vw !important;
				margin: 25vh auto !important;
			}

			.contact {
				width: 95vw !important;
			}

			.title-bar {
				background: linear-gradient( 90deg, #8795E8, #94D0FF ) !important;
				font-size: 2rem !important;
			}

			.close_movil {
				width: 30px !important;
				height: 30px !important;
				background-size: contain !important;
			}

			input[type="text"], select {
				height: 40px !important;
				padding-left: 10px !important;
			}

			textarea {
				padding-left: 10px !important;
			}


}


/* UI 98 */
.window-body, .window-body label {
	font-size: 1rem;
}

.title-bar {
	background: linear-gradient( 90deg, #8795E8, #94D0FF ) !important;
}

